langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-pinecone
pinecone-client
pymupdf
fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
psycopg2-binary
boto3
python-jose[cryptography]
passlib[bcrypt]
